# Dependências
node_modules

# Build
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
*.local
.vite

# Freebuff
.freebuff/
